@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'pretendard';
  src: "public/static/fonts/PretendardVariable.woff2";
}

body {
  background-color: #181818;
  font-family: 'pretendard';
}